<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="codecracker.CSharp" version="1.0.0" targetFramework="net45" />
  <package id="ManyConsole" version="1.0.0.4" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net45" />
  <package id="Mono.Options" version="5.3.0.1" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net45" />
  <package id="Newtonsoft.Json.Schema" version="3.0.10" targetFramework="net45" />
  <package id="Sarif.Sdk" version="1.7.5" targetFramework="net45" />
  <package id="Serilog" version="2.2.1" targetFramework="net45" />
  <package id="Serilog.Sinks.Literate" version="2.0.0" targetFramework="net45" />
  <package id="SonarAnalyzer.CSharp" version="7.9.0.7583" targetFramework="net45" developmentDependency="true" />
  <package id="System.Collections" version="4.0.0" targetFramework="net45" />
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="net45" />
  <package id="System.Diagnostics.Debug" version="4.3.0" targetFramework="net45" />
  <package id="System.Globalization" version="4.0.0" targetFramework="net45" />
  <package id="System.IO.Abstractions" version="2.1.0.256" targetFramework="net45" />
  <package id="System.Linq" version="4.3.0" targetFramework="net45" />
  <package id="System.Resources.ResourceManager" version="4.0.0" targetFramework="net45" />
  <package id="System.Runtime" version="4.0.0" targetFramework="net45" />
  <package id="System.Runtime.Extensions" version="4.3.0" targetFramework="net45" />
  <package id="System.Threading" version="4.3.0" targetFramework="net45" />
</packages>
